<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>EfhaeStore</h1>
        </header>
        <form method="POST">
            {% csrf_token %}
            <h2>Daftar</h2>
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confirm_password" placeholder="Konfirmasi Password" required>
            <button type="submit">Daftar</button>
            <p>Sudah punya akun? <a href="{% url 'login' %}">Login</a></p>
        </form>
    </div>
</body>
</html>

